<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Open Reward</title>
</head>
<body>
<h1>Open Reward admin</h1>
<p>A custom build of the copiosis-rocket project with improvements</p>
<p>
    <a href="/users">Show users</a> &middot;
    <a href="/products">Show products</a> &middot;
    <a href="/transfers">Show transactions</a>
    <br>
    {{#if nbr}}
        <b><a href="/adduser">Add user</a></b> &middot;
        <a href="/product">Add product</a>
    {{else}}
        <a href="/adduser">Add user</a> &middot;
        <b><a href="/product">Add product</a></b>
    {{/if}} &middot;
    <a href="/transfer">Create transaction</a>
</p>
<form action="{{#if nbr}}/adduser{{else}}/product{{/if}}" method="post" accept-charset="utf-8">
    <input type="hidden" name="id" value="0" />
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" value="{{name}}" required autofocus/>
    <input type="hidden" name="id" value="{{id}}"/>
    <input type="hidden" name="nbr" value="0" />
    <input type="hidden" name="fame" value="0" />
    <input type="hidden" name="time_created" value="0"/>
    <input type="submit" value="Submit" />
</form>
</body>
</html>
